<google-map height="1000px"
  width="1500px"
  [center]="center"
  [zoom]="zoom"
  (mapClick)="moveMap($event)"
  (mapMousemove)="move($event)">
  <map-marker *ngFor="let markerPosition of markerPositions"
    [position]="markerPosition"
    [options]="markerOptions">
</map-marker>
</google-map>

<div>Latitude: {{display?.lat}}</div>
<div>Longitude: {{display?.lng}}</div>
<button mat-button (click)="scanQrCode()">Scan QR</button>
<barcode-scanner-livestream type="code_128" (valueChanges)="onValueChanges($event)" (started)="(onStarted)"></barcode-scanner-livestream>
<div>
  {{ qrCodeValue }}
</div>