<google-map height="300px"
  width="300px"
  [center]="center"
  [zoom]="zoom"
  (mapClick)="moveMap($event)"
  (mapMousemove)="move($event)">
  <map-marker *ngFor="let markerPosition of markerPositions"
    [position]="markerPosition"
    [options]="markerOptions">
  </map-marker>
</google-map>

<button mat-button (click)="scanQrCode()">Scan QR</button>
<div>Latitude: {{display?.lat}} Longitude: {{display?.lng}} QR code: {{qrCodeValue }}</div>
<barcode-scanner-livestream type="code_128" (valueChanges)="onValueChanges($event)" (started)="onStarted()"></barcode-scanner-livestream>
